.video {
	margin: 30px;
	margin-top: 0;
	border: solid 2px #000;
	border-radius: 5px;
	max-height: 150px;
	overflow: hidden;
}

.video:hover {
	overflow-y: auto;
	border-color:  #ef0800;
}

.video a {
	color: #000;
	text-decoration: none;
	display:block;
	width: 100%;
}

.video img, .video div{
	float:left;
}

.video img{
	margin: 10px;
	width: 170px;
}

.video div{
	margin: 0 10px;
	width: 70%;
}

.video.grid {
	float:left;
	width: 30%;
	margin: 1.5%;
	margin-top:0;
	max-height: 350px;
}

.video.grid img{
	width:100%;
	margin: 0;
}

.video.grid .video-info{
	width:95%;
	margin:5px;
}

@media all and (max-width:850px) {
	.video img{
		width: 24%;
	}

	.video div{
		width: 60%;
	}

	.video div h3{
		margin:10px 0;
		font-size:16px;
	}

	.video div p{
		font-size:12px;
	}

	.video.grid{
		width: 45%;
	}
}

@media all and (max-width: 500px) {
	main ul {
		margin-top:20px;
	}

	div.layouts {
		display:none;
	}

	.video , .video.grid{
		float:none;
		width: 200px;
		margin: 10px auto;
		max-height: 250px;
	}

	.video img, .video.grid img{
		width: 100%;
		margin:0;
	}

	.video div, .video.grid div{
		width: 100%;
		margin: 3px;
	}

	.video div p, .video.grid div p{
		display: none;
	}
}