header .search-section {
	float:right;
	line-height: 100px;
	padding-right:35px;
}

header .search-section input, header .search-section button{
	border:none;
    outline: none;
	border-radius:5px;
	height: 25px;
	padding: 0 20px;
}

header .search-section input {
	margin-right:15px;
	width: 250px;
}

header .search-section button {
	background-color: #ef0800;
	color: #fff;
	font-width: bold;
}