header .search-section {
	float:right;
	line-height: 100px;
	padding-right:35px;
}

header .search-section input, header .search-section button{
	border:solid 1px #ccc;
    outline: none;
	height: 25px;
	padding: 0 10px;
}

header .search-section input {
	width: 250px;
}

header .search-section button {
	background-color: #ef0800;
	border:solid 1px #ef0800;
	color: #fff;
	font-width: bold;
}

@media all and (max-width:600px) {
	header .search-section {
		float:none;
		padding: 0;
		padding-bottom: 20px;
		min-width: 100%;
		display: flex;
		justify-content: center;
	}

	header .search-section input {
		width: 63%;
	}

	header .search-section button {
		width:25%;
	}
}